{
  "env": {
    "cjs": {
      "presets": [["@babel/preset-env"]],
      "plugins": ["@babel/transform-runtime", ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]]
    },
    "es": {
      "presets": [["@babel/preset-env", { "modules": false }]],
      "plugins": ["@babel/transform-runtime", ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]]
    }
  }
}
