{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "always-multiline"],
    "comma-style": ["error", "last"],
    "eqeqeq": ["error", "always", {"null": "ignore"}],
    "guard-for-in": "error",
    "jsx-quotes": ["error", "prefer-double"],
    "no-duplicate-imports": "error",
    "no-extra-parens": "error",
    "no-lone-blocks": "error",
    "no-trailing-spaces": "error",
    "no-var": "error",
    "no-void": "error",
    "no-with": "error",
    "prefer-const": "error",
    "prefer-spread": "error",
    "quotes": ["error", "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "semi": ["error", "never"],
    "yield-star-spacing": ["error", "after"]
  }
}
