name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [24, 22, 20, 18, 16]
        axios:
          - '^1'

    steps:
      - uses: actions/checkout@v4

      - name: Install Packages
        run: npm install

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - name: Install fixed axios
        run: npm install -D 'axios@${{ matrix.axios }}'

      - name: Lint
        run: npm run lint

      # Dirty hacks for https://github.com/mpyw/axios-case-converter/issues/47
      - name: Disable dirty hacks for old version
        if: ${{ matrix.axios == '^0' }}
        run: |
          cat <<EOD > test/axios-headers-dirty-hacks.ts
          export function newAxiosHeadersFrom(thing?: Record<string, string | string[] | number | boolean | null>): Record<string, string | string[] | number | boolean | null> {
            return thing ?? {}
          }
          EOD

      - name: Test
        run: npm run test:coverage

      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: node:${{ matrix.node }} axios:${{ matrix.axios }}
          parallel: true

  coverage-aggregation:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Aggregate Coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
